---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welkom bij RondeMaestro 🚴">
  <main>
    <section>
      <div class="hero-container">
        <div class="hero">
          <div class="hero-text">
            <h1 class="hero-text--header">Welkom bij RondeMaestro</h1>
            <p class="hero-text--subtitle">
              Hét wielerspel waarbij je dagelijks dezelfde kansen hebt!
            </p>
            <a href="https://app.rondemaestro.com/registeren">
              <button class="btn primary"> Inschrijven </button>
            </a>
          </div>
        </div>
        <div class="hero-image img-pers-left">
          <img
            src="img/homepage-screen.jpg"
            alt="RondeMaestro Homepage screenshot"
          />
        </div>
      </div>
    </section>

    <section class="flow">
      <h2>Wat is RondeMaestro?</h2>
      <div class="wrapper">
        <div class="br-left">
          <img src="img/cyclists.svg" alt="cyclists" />
        </div>
        <div class="container">
          <div class="container-body content-right">
            <p>
              RondeMaestro vindt dat de standaard Tourpoules leuker kunnen. En
              beter. Daarom mag je bij RondeMaestro elke dag een nieuwe ploeg
              van acht renners aanmaken! Het grote voordeel: mocht je er vandaag
              goed naast zitten, dan heb je morgen weer een nieuwe kans een gooi
              te doen naar de eeuwige roem!
            </p>
            <p>
              Het werkt heel simpel. Voor elke wedstrijd - of dat nu een
              klassieker of grote ronde is - selecteer je acht renner waarvan
              jij denkt dat ze hoog in de uitslag eindigen. En voor elke van die
              renners die zich in de top 15 weet te fietsen krijg je punten. Zo
              simpel is dat!
            </p>
            <p>
              Laat zien dat jij met jouw koersinzicht in die ploegleiderswagen
              thuis hoort en <a href="https://app.rondemaestro.com/registeren"
                >meld je aan voor RondeMaestro!</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="flow">
      <h2>Wat maakt RondeMaestro anders?</h2>

      <div class="wrapper">
        <div class="usp-list">
          <div class="usp-card">
            <div class="card-image">
              <img src="/icons/trophy.svg" alt="" />
            </div>
            <div class="card-body">
              <h4>Dagelijks dezelfde kansen</h4>
              <p>
                Zat je er gisteren naast? Geen zorgen! Vandaag krijg je weer de
                kans om een gooi te doen naar eeuwige roem. Ga niet bij de
                pakken neerzitten en selecteer opnieuw acht renners. Bij
                RondeMaestro krijg je elke dag een nieuwe kans!
              </p>
            </div>
          </div>
          <div class="usp-card">
            <div class="card-image">
              <img src="/icons/wallet.svg" alt="" />
            </div>
            <div class="card-body">
              <h4>Geen gedoe met budget</h4>
              <p>
                Bij RondeMaestro hoef je geen renners te laten schieten vanwege
                budget. Elke dag kun je elke renner selecteren, zonder
                beperkingen. Zo maak je altijd de beste keuzes en geniet je
                volop van het spel!
              </p>
            </div>
          </div>
          <div class="usp-card">
            <div class="card-image">
              <img src="/icons/money.svg" alt="" />
            </div>
            <div class="card-body">
              <h4>Geen verplichte inleg</h4>
              <p>
                Wil je een poultje tussen vrienden of op het werk? Dat kan bij
                RondeMaestro! Geen verplichte inleg, gewoon meedoen en plezier
                maken. Creëer je eigen competitie en laat zien wie de beste
                ploegleider is!
              </p>
            </div>
          </div>
          <div class="usp-card">
            <div class="card-image">
              <img src="/icons/plan-list.svg
              " alt="" />
            </div>
            <div class="card-body">
              <h4>Duidelijke puntentelling</h4>
              <p>
                Bij RondeMaestro hoef je geen kopman te selecteren of rekening
                te houden met klassementsleiders. Ons puntensysteem is
                eenvoudig: de eerste 15 renners over de streep krijgen punten.
                That’s it. Zo blijft het spel eerlijk, overzichtelijk en puur
                koersplezier!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="cta-container">
        <div class="cta-body">
          <h3>Waar wacht je nog op?</h3>
          <a href="https://app.rondemaestro.com/registeren">
            <button class="btn primary"> Inschrijven </button>
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
