---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kalender | RondeMaestro 🚴">
  <main>
    <section>
      <div class="title-container">
        <div class="title-text overlay">
          <h1>Kalender</h1>
        </div>
        <div class="title-image">
          <img src="img/rob-wingate.webp" alt="Rob Wingate cycling peloton" />
        </div>
      </div>
    </section>
    <section>
      <div class="wrapper">
        <div class="container-small flow">
          <h3>Klassiekers</h3>
          <p>
            RondeMaestro is opgedeeld in 4 'koersen'. De klassiekers en de drie
            grote rondes. Elke koers krijgt zijn eigen klassement. In
            onderstaande tabel is weergegeven welke koersen bij de klassiekers
            horen en wanneer deze op de agenda staan. De RondeMaestro's doen hun
            uiterste best om minimaal 24u van te voren de startlijsten online te
            zetten.
          </p>

          <table class="calender-table">
            <caption>De klassiekers bij RondeMaestro</caption>
            <thead>
              <tr class="header">
                <th>
                  <strong>Datum</strong>
                </th>
                <th>
                  <strong>Race</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 maart 2025</td>
                <td>Omloop Nieuwsblad</td>
              </tr>
              <tr>
                <td>8 maart 2025</td>
                <td>Strade Bianche</td>
              </tr>
              <tr>
                <td>22 maart 2025</td>
                <td>Milaan - Sanremo</td>
              </tr>
              <tr>
                <td>26 maart 2025</td>
                <td>Classic Brugge - De Panne</td>
              </tr>
              <tr>
                <td>27 maart 2025</td>
                <td>E3 Saxo Classic</td>
              </tr>
              <tr>
                <td>30 maart 2025</td>
                <td>Gent - Wevelgem</td>
              </tr>
              <tr>
                <td>2 april 2025</td>
                <td>Dwars door Vlaanderen</td>
              </tr>
              <tr>
                <td>6 april 2025</td>
                <td>Ronde van Vlaanderen</td>
              </tr>
              <tr>
                <td>13 april 2025</td>
                <td>Parijs - Roubaix</td>
              </tr>
              <tr>
                <td>20 april 2025</td>
                <td>Amstel Gold Race</td>
              </tr>
              <tr>
                <td>23 april 2025</td>
                <td>Waalse Pijl</td>
              </tr>
              <tr>
                <td>27 april 2025</td>
                <td>Luik - Bastenaken - Luik</td>
              </tr>
            </tbody>
          </table>

          <h3>Grote rondes</h3>
          <p>
            Ook RondeMaestro doet mee aan de grote rondes. Of het nu in Italie,
            Frankrijk of Spanje is. Elke keer kan je in 21 etappes je uiterste
            best doen om eeuwige roem te scoren!
          </p>
          <p>
            In onderstaande tabel zijn de data van de koersen gemeld. Wederom
            zullen de RondeMaestro's hun uiterste best doen om deze wanneer
            bekend is online te zetten.
          </p>

          <table class="calender-table">
            <caption>De grote rondes bij RondeMaestro</caption>
            <thead>
              <tr class="header">
                <th>
                  <strong>Datum</strong>
                </th>
                <th>
                  <strong>Race</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9 mei 2025 t/m 1 juni 2025</td>
                <td>Giro d'Italia</td>
              </tr>
              <tr>
                <td>5 juli 2025 t/m 27 juli 2025</td>
                <td>Tour de France</td>
              </tr>
              <tr>
                <td>23 augustus 2025 t/m 14 september 2025</td>
                <td>La Vuelta Ciclista a España</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</Layout>
