---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy | RondeMaestro 🚴">
  <main>
    <section>
      <div class="title-container">
        <div class="title-text overlay">
          <h1>Privacybeleid voor RondeMaestro</h1>
        </div>
        <div class="title-image">
          <img src="/img/rob-wingate.webp" alt="Rob Wingate cycling peloton" />
        </div>
      </div>
    </section>
    <section>
      <div class="wrapper | justify-text">
        <div class="container-small flow">
          <p>
            Dit privacybeleid beschrijft hoe RondeMaestro (&quot;wij&quot;,
            &quot;ons&quot; of &quot;onze&quot;) persoonlijke informatie
            verzamelt, gebruikt en beschermt die u (&quot;gebruiker&quot; of
            &quot;u&quot;) verstrekt bij het gebruik van het spel
            &quot;RondeMaestro&quot; (het &quot;Spel&quot;). We zijn
            vastbesloten om ervoor te zorgen dat uw privacy wordt beschermd.
            Mocht u bij het gebruik van het Spel gevraagd worden bepaalde
            informatie te verstrekken, dan kunt u er zeker van zijn dat deze
            alleen zal worden gebruikt in overeenstemming met dit privacybeleid.
          </p>

          <ol class="bullet-list">
            <li>
              <span>
                Verzamelde informatie We kunnen de volgende soorten persoonlijke
                informatie verzamelen:
              </span>
              <ul>
                <li>
                  Informatie die u verstrekt bij het aanmaken van een account,
                  zoals uw gebruikersnaam en e-mailadres.
                </li>
                <li>
                  Informatie die u verstrekt bij het communiceren met ons via
                  e-mail of andere kanalen.
                </li>
              </ul>
            </li>
            <li>
              <span>Gebruik van verzamelde informatie</span>
              We gebruiken de verzamelde informatie om het Spel te leveren en te
              verbeteren, om uw account te beheren, om u te voorzien van klantenondersteuning
              en om u op de hoogte te houden van updates en nieuws met betrekking
              tot het Spel.
            </li>
            <li>
              <span>Delen van informatie</span>

              We zullen uw persoonlijke informatie niet verkopen, verhuren of
              overdragen aan derden zonder uw toestemming, tenzij vereist door
              de wet of zoals hierin uiteengezet.
            </li>
            <li>
              <span>Gegevensbeveiliging</span>

              We zijn toegewijd aan het waarborgen van de veiligheid van uw
              persoonlijke informatie. We nemen passende technische en
              organisatorische maatregelen om uw gegevens te beschermen tegen
              ongeoorloofde toegang, openbaarmaking, wijziging of vernietiging.
            </li>

            <li>
              <span>Cookies</span>

              Het Spel maakt mogelijk gebruik van cookies om uw ervaring te
              verbeteren. U kunt ervoor kiezen om cookies te weigeren, maar dit
              kan van invloed zijn op de functionaliteit van het Spel.
            </li>
            <li>
              <span>Links naar andere websites</span>

              Het Spel kan links bevatten naar andere websites van belang. Zodra
              u deze links gebruikt om onze applicatie te verlaten, hebben wij
              geen controle meer over die andere website. We kunnen daarom niet
              verantwoordelijk worden gehouden voor de bescherming en privacy
              van informatie die u verstrekt tijdens uw bezoek aan dergelijke
              sites.
            </li>
            <li>
              <span>Wijzigingen in het privacybeleid</span>

              We behouden ons het recht voor om dit privacybeleid op elk moment
              bij te werken of te wijzigen. Eventuele wijzigingen zijn van
              kracht zodra ze op deze pagina worden geplaatst.
            </li>
            <li>
              <span> Contact </span>

              Voor vragen over dit privacybeleid kunt u contact met ons opnemen
              via <a href="mailto:rondemaestro@gmail.com"
                >rondemaestro@gmail.com</a
              >.
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main></Layout
>
