---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spelregels | RondeMaestro 🚴">
  <main>
    <section>
      <div class="title-container">
        <div class="title-text overlay">
          <h1>Spelregels</h1>
        </div>
        <div class="title-image">
          <img src="img/rob-wingate.webp" alt="Rob Wingate cycling peloton" />
        </div>
      </div>
    </section>
    <section>
      <div class="wrapper">
        <div class="container-small flow">
          <h3>Regels</h3>
          <p>
            Het klinkt heel simpel om bij RondeMaestro de beste te zijn: je moet
            de meeste punten halen. Maar hoe haal je die punten?
          </p>
          <p>
            Om punten te kunnen halen moet je allereerst renners selecteren.
            Negen om precies te zijn. Dat mogen uiteraard elke keer dezelfde
            namen zijn, maar je mag ook per wedstrijd je team volledig omgooien.
            Als je in elk geval uiterlijk op de wedstrijddag voor 12.00 uur je
            selectie instuurt!
          </p>

          <p>
            Aan het eind van de etappe zullen de RondeMaestro's de rekenkamer in
            duiken om zodoende de uitslag te bepalen. Die uitslag zal in ieder
            geval voor 23.00 uur bekend worden gemaakt.
          </p>
          <p>
            De punten worden verdeeld aan de hand van de volgende
            verdeelsleutel.
          </p>

          <table class="score-table">
            <caption>Puntenverdeling RondeMaestro</caption>
            <thead>
              <tr class="header">
                <th>
                  <strong>Plaats</strong>
                </th>
                <th>
                  <strong>Punten</strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>100</td>
              </tr>
              <tr>
                <td>2.</td>
                <td>80</td>
              </tr>
              <tr>
                <td>3.</td>
                <td>63</td>
              </tr>
              <tr>
                <td>4.</td>
                <td>50</td>
              </tr>
              <tr>
                <td>5.</td>
                <td>41</td>
              </tr>
              <tr>
                <td>6.</td>
                <td>34</td>
              </tr>
              <tr>
                <td>7.</td>
                <td>29</td>
              </tr>
              <tr>
                <td>8.</td>
                <td>24</td>
              </tr>
              <tr>
                <td>9.</td>
                <td>19</td>
              </tr>
              <tr>
                <td>10.</td>
                <td>15</td>
              </tr>
              <tr>
                <td>11.</td>
                <td>12</td>
              </tr>
              <tr>
                <td>12.</td>
                <td>9</td>
              </tr>
              <tr>
                <td>13.</td>
                <td>7</td>
              </tr>
              <tr>
                <td>14.</td>
                <td>6</td>
              </tr>
              <tr>
                <td>15.</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>

          <p>
            Mocht er een renner - om wat voor reden dan ook - later dan elf uur
            ‘s avonds nog uit de officiële uitslagen worden geschrapt, dan
            verandert dat niks meer aan de uitslag van RondeMaestro. Die blijft
            voor eeuwig zoals ‘ie was om 23.00 uur.
          </p>

          <h3>Einduitslag</h3>
          <p>
            Bij klassiekers is het allemaal vrij simpel: er wordt een koers
            gereden en aan het einde van die wedstrijd is er een winnaar van
            zowel die wedstrijd als de wedstrijd der voorspellers. Maar een
            grote ronde bestaat niet uit één ritje. Daarom wordt aan het einde
            van zowel de Giro d’Italia, de Tour de France en de Vuelta a España
            nog een laatste keer naar het algemeen klassement gekeken. De
            persoon die dan het meeste punten heeft behaald wint de grote ronde!
          </p>
          <p>
            Mocht er onverhoopt sprake zijn van een gelijk aantal punten, dan
            wordt er gekeken naar wie de meeste eerste plaatsen heeft veroverd
            in daguitslagen. Is dat ook ex aequo? Dan wordt er gekeken naar
            tweede plaatsen. Of derde plaatsen. Enzovoorts.
          </p>
          <p>
            Degene die over het hele jaar gezien het meeste punten heeft gehaald
            krijgt de enige echte RondeMastro bokaal. En hij of zij wint ook nog
            eens de eeuwige roem aan de toog of bij de koffieautomaten. Wat wil
            een mens nog meer!
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
