---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy | RondeMaestro 🚴">
  <main>
    <section>
      <div class="title-container">
        <div class="title-text overlay">
          <h1>Algemene Voorwaarden voor RondeMaestro</h1>
        </div>
        <div class="title-image">
          <img src="/img/rob-wingate.webp" alt="Rob Wingate cycling peloton" />
        </div>
      </div>
    </section>
    <section>
      <div class="wrapper | justify-text">
        <div class="container-small flow">
          <p>
            Dit document bevat de algemene voorwaarden (hierna "Voorwaarden")
            die van toepassing zijn op het gebruik van het online spel
            "RondeMaestro" (hierna "Spel"). Door het Spel te spelen, stemt u in
            met deze Voorwaarden. Als u niet akkoord gaat met deze Voorwaarden,
            moet u het Spel niet spelen.
          </p>

          <ol class="bullet-list">
            <li>
              <span> Gebruiksrechten </span>
              Het Spel is eigendom van RondeMaestro en wordt beheerd door RondeMaestro.
              Wij verlenen u een niet-exclusief, niet-overdraagbaar recht om het
              Spel te spelen voor persoonlijk, niet-commercieel gebruik, onderworpen
              aan naleving van deze Voorwaarden.
            </li>
            <li>
              <span>Leeftijdsbeperkingen</span>
              Het Spel is bedoeld voor spelers van 13 jaar en ouder. Door het Spel
              te spelen, verklaart en garandeert u dat u ten minste 13 jaar oud bent.
            </li>
            <li>
              <span>Accounts</span>
              Om het Spel te spelen, moet u mogelijk een account aanmaken. U bent
              verantwoordelijk voor het handhaven van de vertrouwelijkheid van uw
              accountgegevens en voor alle activiteiten die plaatsvinden onder uw
              account.
            </li>
            <li>
              <span>Gedragsregels</span>
              U stemt ermee in het Spel niet te gebruiken voor illegale of ongeoorloofde
              doeleinden. U gaat ermee akkoord zich te houden aan alle toepasselijke
              wetten en voorschriften.
            </li>

            <li>
              <span>Intellectuele Eigendom</span>
              Alle rechten, titels en belangen in en op het Spel, inclusief maar
              niet beperkt tot auteursrechten, handelsmerken en andere intellectuele
              eigendomsrechten, zijn eigendom van RondeMaestro.
            </li>
            <li>
              <span>Aansprakelijkheidsbeperking</span>
              Het Spel wordt geleverd zoals het is. Wij geven geen garanties met
              betrekking tot de nauwkeurigheid, betrouwbaarheid of beschikbaarheid
              van het Spel.
            </li>
            <li>
              <span>Wijzigingen in de Voorwaarden</span>
              We behouden ons het recht voor om deze Voorwaarden op elk moment te
              wijzigen. Eventuele wijzigingen zijn van kracht zodra ze op deze pagina
              worden geplaatst.
            </li>
            <li>
              <span>Beëindiging</span>
              We kunnen uw toegang tot het Spel op elk moment en om welke reden dan
              ook beëindigen zonder voorafgaande kennisgeving.
            </li>

            <li>
              <span>Contact</span>
              Voor vragen over deze Voorwaarden kunt u contact met ons opnemen via
              <a href="mailto:rondemaestro@gmail.com">rondemaestro@gmail.com</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main>
</Layout>
